<h1>New Widget</h1>
<p>Please choose a template</p>
{{log availableTemplates}}
{{view "select"
    content=availableTemplates
    optionValuePath="content.id"
    optionLabelPath="content.title"
    value=newWidgetTemplate}}
<button {{action "createWidget"}}>Go</button>
